.navbar.navbar, .navbar-default.navbar{
	font-weight: bold;
	background: #FFB300;
}

.form-control{
	background-image: 	linear-gradient(rgb(255, 179, 0), 
										rgb(255, 179, 0)),
						linear-gradient(rgb(255, 255, 255), 
										rgb(255, 255, 255)) 
						!important;
}