*{
    margin:0;
    padding:0;
}

.navbar.navbar, .navbar-default.navbar{
	font-weight: bold;
	background: #FFB300;
}

.form-control{
	background-image: 	linear-gradient(rgb(255, 179, 0), 
										rgb(255, 179, 0)),
						linear-gradient(rgb(255, 255, 255), 
										rgb(255, 255, 255)) 
						!important;
}

.news{
    height:90vh;
    background:#E6E6E6;
}

.news-item{
    height:250px;
    background:#FFB300;
}
